@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,500,600,800");
@import "styleguide.css";

body {
    font-family: Nunito;
    background-color: #F8FAFE;
}

/* Common */

i, .h-center {
    margin: auto 0;
}

.center {
    justify-content: center;
}

.v-center {
    margin: 0 auto;
}

.module-2-body {
    display: flex;
}

.right-body {
    width: 1100px;
    margin: 0 auto;
}

.base-bg-color {
    background-color: #3476CE;
}

.row {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3476CE;
    min-width: 228px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30px;
    height: 230px;
    right: -30px;
    top: 45px;
}

.dropdown:hover {
    cursor: pointer;
}

.show {
    display: block;
}

.user-details {
    text-align: center;
    padding: 5%;
    color: white;
}

.user-type {
    font-size: 32px;
    margin: 0px;
}

.user-email {
    font-size: 16px;
    margin: 0px;
}

.edit-profile-btn, .logout-btn {
    display: flex;
    height: 28px;
    padding: 10px;
    margin-bottom: 10px;
}

.edit-profile-btn:hover, .logout-btn:hover {
    cursor: pointer;
    background:rgba(255,255,255, 0.1);
}

.edit-profile-btn > p, .logout-btn > p {
    margin: 3px;
    color: white;
}

.user-actions {
    padding: 10px;
}


/* Navbar */
nav {
    min-height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 325px;
}

nav > hr {
    width: 121.48px;
}

.nav-menu {
    padding: 5%;
}

.nav-item {
    width: 95%;
    border-radius: 50px;
    padding: 1%;
    display: flex;
    margin-bottom: 25px;
}

.nav-item:hover {
    background-color: rgba(255,255,255, 0.3);
}

a {
    text-decoration: none;
}

.nav-item > img {
    padding-left: 5px;
}

.nav-item > p {
    margin: 0px;
    padding-top: 12px;
    padding-left: 10px;
    color: white;
}

.nav-icon {
    width: 45px;
}

.logo {
    text-align: center;
    padding: 10% 10% 2% 10%;
}

.logo > .logo-small {
    width: 45px;
}

.logo > .logo-word {
    width: 110px;
}

.btn-collapse {
    text-align: right;
}

.nav-component-toggle {
    display: inline;
}

#close-nav:hover, #open-nav:hover {
    cursor: pointer;
}

#open-nav {
    display: none;
}

.btn-expand {
    text-align: center;
    margin: 0 auto;
    display: none;
}

/* Main Content */

.header {
    margin-top: 10px;
    width: 100%;
    border-bottom: 5px solid #E9F2FF;
}


.page-title {
    font-size: 20px;
}
.page-title > p {
    margin: 20px;
    font-weight: bold;
}

.page-title-header {
    width: 77%;
}

.page-action {
    width: 23%;
    margin: 20px;
}

.page-action > div > p {
    margin: 0 auto;
    font-size: 15px;
}

.page-action > div > div > p {
    margin: 0 auto;
}

.user-icon {
    margin-top: -13px;
    padding-left: 20px;
}

.user-icon > img {
    border: 5px solid #3476CE;
    border-radius: 55%;
    /* background-color: #1B3557; */
}

.arrow-down {
    padding-left: 20px;
}

.user-session {
    color: #3476CE;
}

.admin-bold {
    font-weight: 900;
    text-transform: uppercase;
}

/* Module 2 Content */

.module-content {
    margin: 0 40px;

}

/*Information above tables*/
.CIF-info {
    width: 100%;
    justify-content: space-between;
    height: 80px;
    margin-top: 30px;
}

.to-module1 {
    font-size: 12px;
}

.to-module1 > p {
    margin: 5px 20px;
}

.patient-name {
    font-size: 25px;
    text-transform: uppercase;
}

.patient-name > p {
    margin: 5px 20px;
}

.CIF-box {
    border-radius: 10px;
    border: 2px solid #3476CE;
    height: 70px;
    width: 200px;
    display: flex;
}

.CIF-box > p {
    font-size: 35px;
    color: #3476CE;
    font-weight: bold;
    margin: auto;
}

.validation {
    color: var(--sinagsuccess500);
    display: flex;
    flex-direction: column;
}

.validation-status {
    font-size: 35px;
    justify-content: flex-end;
}

.p1 {
    margin: 0 0 0 20px;
}

.p2 {
    font-size: 15px;
    margin: 0;
    justify-content: flex-end;
}

.tip-container {
    width: 100%;
    background-color: var(--sinagwarning100);
    border-radius: 5px;
    color: var(--sinagwarning500);
    font-size: 15px;
    margin-top: 20px;
}

.tip-container > p {
    margin: 10px 0 10px 20px;
}
.tip-container > i {
    margin-left: 20px;
}

.remark-container {
    width: 100%;
    background-color: var(--sinagsuccess100);
    border-radius: 5px;
    color: var(--sinagsuccess500);
    margin-top: 20px;
}

.remark-header {
    margin-left: 20px;
}
.remark-header > p {
    font-size: 20px;
    margin-left: 20px;
}

.remark {
    font-size: 15px;
    padding: 0 60px;
    margin: 0;
    color: var(--sinaggrayscale900);
}

.date-time {
    font-size: 12px;
    margin: 15px 0 20px 23px;
}

.date-time > p {
    margin-left: 25px;
}

/*Tables*/

.header-table {
    width: 100%;
    background-color: #3476CE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 1px 0px #969696;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}

.header-table > i {
    margin: auto 20px;
}

.p-body {
    padding: 0px 30px 30px 30px;
    margin: 0;
    font-size: 13px;
    color: #3476CE;
}

.investigation, .philhealth-info, .patient-profile, .permanent-address, .current-address, .employer-details, .travel-history, .exposure-history,
.clinical-information, .specimen-information, .final-classification, .outcome {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: white;
    margin-top: 30px;
}

.instruction {
    font-size: 12px;
    margin: 30px 0 15px 0;
}

.instruction > p {
    margin: 0 0 0 10px;
}

.divider {
    width: 100%;
    border: 0.5px solid #F1F2F4;
    margin: 0;
}

.patient-status {
    margin-top: 15px;
}
.patient-status > p, .signs {
    margin: 0 0 10px 0;
}

.patient-status > div {
    color: var(--sinaggrayscale900);
}

#priority, #radio-no, #radio-unknown, #radio-outpatient, #radio-died, #radio-discharged, #radio-pending, #radio-na,
#radio-probable, #radio-discharged, #radio-confirmed,
#radio-recovered, #radio-transferred, #radio-absconded
{
    margin-left: 50px;
}

.table-row {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

}

.required-field {
    color: red;
    margin: 0 5px 0 0;
}

.input-field-label {
    margin: 0 0 5px 0;
}

.note {
    font-size: 10px;
    color: var(--sinaggrayscale500);
    margin: 5px 0 0 0;
}

.radio-options {
    background-color: var(--sinaggrayscale100);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.radio-options > p {
    margin: 0 0 15px 0;
}

.if-yes {
    margin: 20px 0 20px 0;
}

.m-0 {
    margin: 0;
}

.ml-30 {
    margin-left: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.list_of_names {
    background-color: var(--sinagsuccess100);
    color: var(--sinagsuccess500);
    padding: 20px;
    border-radius: 5px;
}

.list_of_names > p {
    margin: 0;
}

.symptoms {
    margin-top: 30px;
}

.symptoms > p {
    margin-bottom: 20px;
    font-weight: bold;
}


.symptoms > div {
    font-weight: 500;
    color: var(--sinaggrayscale900);
}

.classification {
    justify-content: space-around;
}

.specimen-table-title {
    font-size: 15px;
    margin-bottom: 10px;
}

.specimen_collected {
    color: var(--sinaggrayscale900);
}

.col {
    width: 150px;
}


button {
    text-transform: uppercase;
    font-family: Nunito;
    height: 30px;
    margin: 30px 0 0 0;
}
.clear-button {
    width: 100px;
    color: var(--sinaggrayscale500);
    background-color: #FFFFFF;
    border: 1px solid var(--sinaggrayscale500);
    border-radius: 5px;
    margin-right: 10px;

}

.same-button {
    background-color: #E2FAE8;
    color: #146F2D;
    border: 1.3px solid #146F2D;
    border-radius: 5px;
    width: 250px;
}

.na-button {
    background-color: #FFF5D8;
    color: #BE9C34;
    border: 1.3px solid #BE9C34;
    border-radius: 5px;
    width: 250px;
}

.add-button1 {
    width: 180px;
    color: #3476CE;
    background-color: #F8FAFE;
    border: 1.3px solid #3476CE;
    border-radius: 5px;
}

.add-button2 {
    width: 180px;
    color: #146F2D;
    background-color: #E2FAE8;
    border: 1.3px solid #146F2D;
    border-radius: 5px;
}

/*Input Fields and Select elements*/

input[type=text] {
    font-size: 13px;
    color: var(--sinaggrayscale900);
    font-family: Nunito;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--sinagprimary100);
    height: 30px;
}

::placeholder {
    color: var(--sinaggrayscale500);
}

select {
    padding: 0 5px;
    color: var(--sinaggrayscale900);
    font-family: Nunito;
    font-size: 13px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid var(--sinagprimary100);
}

.select-placeholder {
    color: var(--sinaggrayscale500);
}

input[type=radio] {
    margin: 0 5px 0 0;
}

input[type=checkbox] {
    margin: 0 5px 0 0;
}


/*Solo in one row*/


#house {
    width: 960px;
}

.single-row {
    margin-top: 30px;
}

#date-of-contact, #date-of-onset-of-other-illness, #date-xray, #other-findings, #lmp, #date-of-discharge
{
    width: 100%;
}

#date-of-discharge {
    width: 300px;
}

/*Group of 2 each row*/
#laboratory-number, #dru, #philhealth-number, #testing-category,
 #employer-name, #employer-occupation,
 #date-of-departure, #date-of-arrival {
    width: 465px;
}

/*Group of 3 each row*/
#investigator, #other-investigator, #date-of-interview, #nationality, #passport-no, #gross-income,
#home-phone-number, #cellphone-number, #email,
#port-of-exit, #airline-or-seavessel, #flight-or-vessel-no,
#place-visited, #name-of-place, #date-visited,
#date-of-onset-of-illness, #date-of-admission, #fever-celsius,
#name-of-informant, #relationship, #informant-cellphone-number
{
    width: 300px;
}

/*Group of 4 each row*/
#last-name, #first-name, #middle-name, #birthday, #age, #sex, #occupation,
#barangay, #municipality, #province, #region,
#place-of-work, #building-name, #street, #city,
#employer-province, #country, #office-phone-number, #employer-cellphone-number {
    width: 220px;
}

/*Close Contact */

#close-contact-name {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 300px;
}

#close-contact-number {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 150px;
}

#date-collected, #date-received, #date-sent, #virus-isolation, #pcr {
    width: 100%;
}

.specimen {
    width: 50%;
}

#hour {
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#min {
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.table-line {
    margin-top: 30px;
    width: 100%;
    border: 0.5px solid #F1F2F4;}


.save-button {
    font-weight: bold;
    background-color: #E2FAE8;
    color: #146F2D;
    border: 1.5px solid #146F2D;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-bottom: 30px;
}
