@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,500,600,800");

body {
    font-family: Nunito;
    background-color: #F8FAFE;
}

.investigation {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
}

.header {
    width: 100%;
    background-color: #3476CE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 1px 0px #969696;
    /* padding: 15px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.title {
    font-weight: bold;
    color: white;
}

.investigation {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
}

.philhealth-info {
    width: 900px;
    height: 150px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.patient-profile {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.permanent-address {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.current-address {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.employer-details {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.travel-history {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.exposure-history {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.clinical-information {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.specimen-information{
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.final-classification {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

.outcome {
    width: 900px;
    height: 250px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px #969696;
    margin-top: 20px;
}

/*
.investigation-header {
    width: 100%;
    background-color: #3476CE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 1px 0px #969696;
    padding-top: 10px;
    padding-bottom: 10px;
}

.investigation-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.investigation-title {
    font-weight: bold;
    color: white;
}*/

.search-patient-table {
    width: 900px;
    height: 200px;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    background-color: white;
}

/* .labels1 {
    margin-top: 10px;
    width: 900px;
    display: flex;
    justify-content: left;
} */

.input-fields-labels1, .input-fields-labels2, .input-fields-labels3 {
    color: #3476CE;
    font-size: 12px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    text-align: left;
}

.labels1-div, .labels2-div, .labels3-div {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

#laboratory-number, #philhealth-number, #employer-name {
    margin-right: 40px;
    width: 400px;
    height: 25px;
    border: 1px solid #A0C4F5;
    border-radius: 4px;
}

#dru-label, #testing-category, #occupation {
    margin-right: 15px;
    /*width: 280px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #A0C4F5;*/

    box-sizing: border-box;

    width: 400px;
    height: 25px;
 
    /* Sinag/B&W/100 */
    background: #FFFFFF;
    /* Sinag/Primary/100 */

    border: 1px solid #A0C4F5;
    border-radius: 4px;
}
/*
#laboratory-number {
    width: 280px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #A0C4F5;
}*/

/*
.input-fields-labels2 {
    color: #3476CE;
    font-size: 12px;
    margin-top: 15px;
    padding: 0;
    position: relative;
    text-align: left;
}

.labels2-div {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}*/

#investigator, #other-investigator, #date-of-interview
 {
    font-size: 12px;
    margin-right: 12px;
    width: 270px;
    height: 25px;
    border: 1px solid #A0C4F5;
    border-radius: 4px;
}

#home-phone-number, #cellphone-number, #email,
#employer-province, #country, #office-phone-number {
    font-size: 12px;
    margin-right: 12px;
    width: 270px;
    height: 25px;
    border: 1px solid #A0C4F5;
    border-radius: 4px;
}

/*
#date-of-interview {
    font-size: 12px;
    margin-right: 12px;
    width: 270px;
    height: 25px;
    border: 1px solid #A0C4F5;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.8);
}*/

/*
.final_classification {
    font-size: 12px;
    width: 210px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #A0C4F5;
    color: rgba(0, 0, 0, 0.8);
}*/

/*.search-btn-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-btn {
    background-color: #3476CE;
    color: white;
    width: 100px;
    height: 30px;
    border: 0;
    text-align: center;
    border-radius: 5px;
}

.search-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.patient-records-label {
    margin-top: 30px;
    font-size: 25px;
    color: #3476CE;
}*/

#last-name, #first-name, #middle-name, #birthday, #age, #occupation, 
#barangay, #municipality, #province, #region,
#place-of-work, #building-name, #street, #city {
    font-size: 12px;
    margin-right: 10px;
    width: 210px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #A0C4F5;
}

.civil_status, .sex {
    font-size: 12px;
    margin-right: 10px;
    width: 210px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #A0C4F5;
    color: rgba(0, 0, 0, 0.8);
}

.final_classification {
    font-size: 12px;
    width: 210px;
    height: 25px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #A0C4F5;
    color: rgba(0, 0, 0, 0.8);
}