@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,500,600,800");
@import "styleguide.css";


/*for margins*/

.mb-15 { margin-bottom: 15px; }

.mb-20 { margin-bottom: 20px; }

.mb-30 { margin-bottom: 30px; }

.mb-40 {margin-bottom: 40px; }

.mb-50 { margin-bottom: 50px }

.center {
   margin: auto;
   padding: auto;
   display: flex;
   flex-direction: column;
   align-items: center;

}
/*tags*/

.login-instruction {
    color: var(--sinaggrayscale700);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-xs);
    line-height: normal;
    font-weight: 500;
}

.heading {
    color: var(--sinagsecondary700);
}

a {
    color: var(--sinaggrayscale500);
    font-family: var(--font-family-nunito);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: var(--fun-blue);
    font-family: var(--font-family-nunito);
    font-weight: 500;
    text-decoration: underline;

}

.input-field {
    padding: 0 30px 0 10px;
    background-color: var(--sinaggrayscale100);
    height: 60px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 15% 80% 5%;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 60px;
    color: var(--sinagsecondary700);
    margin-left: 10px;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
}

.input-field input::placeholder {
    color: var(--sinaggrayscale500);
}

.submit-btn {
    width: 150px;
    outline: none;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    border: none;
    background-color: var(--sinagsecondary700);
    color:var(--white22);
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
    box-shadow: 0px 5px 20px #00000030;

}

.submit-btn:hover {
    background-color: var(--fun-blue);
    color: white;
    box-shadow: 0px 5px 20px #00000030;
}

