@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,500,600,800");

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 28px;
  left: 20px;
  min-width: 368px;
  position: relative;
  top: 16px;
}

.text-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 23px;
  min-width: 91px;
}

.login {
  color: var(--white22);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m2);
  font-weight: 600;
  height: 34px;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
}

.login-with-your-pers {
  color: var(--sinaggrayscale700);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xs);
  font-weight: 500;
  height: 50px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 11px;
  width: 409px;
}

.title {
  color: var(--sinagsecondary700);
  font-weight: 700;
  height: 65px;
  line-height: normal;
  margin-top: 19px;
  width: 409px;
}

.logo {
  height: 70px;
  margin-left: 38px;
  margin-top: 43px;
  width: 70px;
}

.image-panel {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  margin-left: 20px;
  padding: 25px 0;
  width: 1000px;
}

.undraw_doctors_hwty-2 {
    position: absolute;
    height: 581px;
    object-fit: cover;
    width: 800px;

    left: 647px;
    top: 100px;
}

.submit-btn{
    width: 200px;
    height: 50px;
    color: var(--white22);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m2);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    display: flex;

    align-items: flex-start;
    background-color: var(--sinagsecondary700);
    border: 1px none;
    border-radius: 30px;
    box-shadow: 0px 5px 15px #00000030;
    cursor: pointer;
    display: flex;
    margin-top: 40px;  
    width: 200px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin: 50px;
    padding-left: 65px;
}

.form{
    border: 1px none;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    padding: 80px 0;
}

input{
    background: var(--sinaggrayscale100);
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 409px;
    height: 58px;
    padding: 50px 25px 25px 40px;    
}

#user-email{
    background: url('../img/username.png')no-repeat left center;
    background-position: 5px 15px !important;
    padding: 15px 35px 15px 30px;
    width: 400px;
}

#user-pass{
    background: url('../img/password.png')no-repeat left center;
    background-position: 5px 15px !important;
    padding: 15px 35px 15px 30px;
    width: 400px;
}